 /*background color*/
 html {
     background-image: linear-gradient(to bottom left, black, rgb(60, 60, 60));
 }

 /*webpage title*/
 h1 {
     margin: 20px 0px 0px 10px;
     font-size: 80px;
     color: #950101;
     text-shadow: 5px 5px 3px black;
     font-family: 'Fascinate Inline', cursive;
 }

 /*movie generator*/
 h4 {
     margin-top: 5px;
     font-family: 'Poppins', sans-serif;
     color: lightgray;
     margin-left: 10px;
 }


 /*instructions paragraph*/
 h6 {
     text-align: center;
     font-family: 'Poppins', sans-serif;
     color: lightgray;
 }

 /*you last searched*/
 p {
     font-family: 'Poppins', sans-serif;
     font-size: 18px;
     color: lightgray;
     text-align: center;
     margin-top: 50px;
 }

 /*image*/
 header {
     height: auto;
     display: flex;
     width: 100%;
     height: 110px;
 }

 /*dropdown*/
 .browser-default {
     text-align: center;
     border: none;
     font-family: 'Poppins', sans-serif;
     font-weight: bold;
     width: auto;
     background-color: gray;
     color: #950101;
     margin-bottom: 50px;
 }

 /*cards */
 .card-content {
     background-color: gray;
 }

 /*card titles*/
 #card-title1,
 #card-title2,
 #card-title3,
 #card-title4,
 #card-title5 {
     font-family: 'Poppins', sans-serif;
     color: #950101;
     text-shadow: 2px 2px 5px rgb(37, 37, 37);
     font-size: 24px;
     font-weight: 400;
 }

 /*card movie descriptions*/
 #description-1,
 #description-2,
 #description-3,
 #description-4,
 #description-5 {
     font-family: 'Poppins', sans-serif;
 }